.clock {
    height: 85vh;
    font-size: 40vh;
    display: flex;
}

.clock p {
    margin: auto;
    text-align: center;
    font-family: '';
}
.hour {
    transition: 500ms;
}
.minute {
    transition: 500ms;
}
.second {
    transition: 500ms;
}

.hour:hover {
    transition: 500ms;
    font-size: 45vh;
    cursor: pointer;
    color: var(--hover-dark-color);
}
.minute:hover {
    transition: 500ms;
    font-size: 35vh;
    cursor: pointer;
    color: var(--hover-light-color);
}
.second:hover {
    transition: 500ms;
    font-size: 35vh;
    cursor: pointer;
    color: var(--hover-light-color);
}