.clock {
    height: 85vh;
    font-size: 40vh;
    display: flex;
}

.clock p {
    margin: auto;
    text-align: center;
    font-family: '';
}
.hour:hover {
    transition: 500ms;
    font-size: 35vh;
    cursor: pointer;
    border: solid 23px rgba(0, 128, 0, 0.05);
}
.minute:hover {
    transition: 500ms;
    font-size: 35vh;
    cursor: pointer;
    border: solid 23px rgba(255, 0, 0, 0.05);
}
.second:hover {
    transition: 500ms;
    font-size: 35vh;
    cursor: pointer;
    border: solid 23px rgba(255, 0, 0, 0.05);
}